/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.product-builder-app .product-builder-container {
  display: flex;
  justify-content: space-between;
}

.product-builder__product-image {
  width: 47%;
}
.product-builder__product-image .__product-images {
  position: sticky;
  top: 30px;
  margin-top: 10px;
}
.product-builder__product-image .__product-images img {
  max-width: 100%;
  width: 100%;
}
.product-builder__product-image .__product-images .__image-slide-nav {
  padding: 0 15%;
}
.product-builder__product-image .__product-images .__image-slide-nav > .slick-initialized {
  display: flex;
}
.product-builder__product-image .__product-images .__image-slide-nav .slick-slide {
  line-height: 0;
}
.product-builder__product-image .__product-images .__image-slide-nav .slick-slide > div {
  line-height: 0;
  font-size: 0;
}
.product-builder__product-image .__product-images .__thumb-nav-item {
  line-height: 0;
}
.product-builder__product-image .__product-images .__thumb {
  background-size: cover;
  background-color: #333;
  background-position: center;
  padding-bottom: 100%;
  font-size: 0;
  color: transparent;
}
.product-builder__product-meta {
  width: 47%;
}
.product-builder__product-heading {
  border-bottom: solid 1px #DDDEDE;
}
.product-builder__product-heading .__product-title {
  margin-top: 0;
}
.product-builder__product-footer {
  margin-top: 2em;
}
.product-builder__product-price {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5em;
}
.product-builder__button-add-to-cart {
  width: 100%;
  border-radius: 6px;
  background: #006875;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  display: flex;
  gap: 10px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.product-builder__button-add-to-cart.__disable {
  pointer-events: none;
  opacity: 0.6;
  background: #B8B8B8;
}
.product-builder__button-add-to-cart:after, .product-builder__button-add-to-cart::before {
  display: none;
}
.product-builder__button-add-to-cart:hover {
  opacity: 0.8;
}
.product-builder__product-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-bottom: 2em;
}
.product-builder__product-card {
  padding: 0.5em;
  border-radius: 3px;
  background: #FFF;
  border: solid 1px #DDDEDE;
  text-align: center;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-builder__product-card .__product-image {
  margin-bottom: 1em;
}
.product-builder__product-card .__product-image img {
  max-width: 100%;
  border-radius: 3px;
}
.product-builder__product-card .__product-title {
  margin: 0;
}
.product-builder__product-card .__product-price {
  color: black;
  font-weight: bold;
}

.__box-option__addon-item .__addon-heading-tag {
  background: #EEEFF0;
  border-radius: 30px;
  display: inline-block;
  padding: 0.6em 1em;
  color: black;
  margin-top: 0;
}
.__box-option .__box-option__heading {
  display: flex;
  align-items: center;
  gap: 8px;
}
.__box-option .__box-option__heading h4 {
  font-weight: bold;
  padding: 2em 0;
  margin: 0;
  color: #006875;
  cursor: pointer;
}
.__box-option .__box-option__heading .__value {
  margin-left: auto;
}
.__box-option .__box-option__options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding-bottom: 2em;
}
.__box-option .__box-option__options .variant-option-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em;
  border: solid 1px #DDDEDE;
  border-radius: 3px;
  cursor: pointer;
  min-height: 130px;
}
.__box-option .__box-option__options .variant-option-item img, .__box-option .__box-option__options .variant-option-item svg {
  max-width: 100%;
  border-radius: 3px;
  margin-bottom: 1em;
}
.__box-option .__box-option__options .variant-option-item h4 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  text-align: center;
  width: 100%;
}
.__box-option .__box-option__options .variant-option-item.__selected {
  background: black;
  color: white;
  border-color: black;
}
.__box-option .__box-option__options .variant-option-item.__selected h4 {
  color: white;
}

.__variant-options {
  border-bottom: solid 1px #DDDEDE;
}

.__product-option-meta .__box-option {
  border-bottom: solid 1px #DDDEDE;
}

.__box-number {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  align-items: center;
  justify-content: center;
  background-color: #E3F3F6;
  color: #006875;
  font-weight: bold;
  line-height: 0;
}
.__box-number svg {
  width: 40%;
}

.__loading-effect {
  pointer-events: none !important;
  position: relative;
}
.__loading-effect > * {
  opacity: 0.3;
}
.__loading-effect:after {
  content: "updating...";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: black;
  font-size: 10px;
  font-weight: bold;
  opacity: 1;
  line-height: normal;
}
