<section class="__menu-builder-container">
  <div id="__MENU_BUILDER_APP__" data-store-id="{{ shop.id }}" data-menu-id="c4b675ef646330fb8d00039f" ></div>
</section>
{% schema %}
{
  "name": "Menu Builder",
  "target": "section",
  "javascript": "product-builder.bundle.js",
  "stylesheet": "product-builder.bundle.css", 
  "settings": []
} 
{% endschema %}