<div id="__PRODUCT_BUILDER_APP__" data-product-id="{{ product.id }}"></div>
{% schema %}
{
  "name": "Product Builder",
  "target": "section",
  "javascript": "product-builder.frontend.js",
  "settings": []
}
{% endschema %} 