$menu_link_color: #19242D;

.menu-builder-mobi-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background: white;
  height: 100%;
  overflow: auto;
  width: 100%;
  background: rgba(1,1,1,.1);
  display: flex;
  justify-content: flex-end;
}

.menu-builder-mobi__inner {
  background: white;
}

ul.menu-builder-mobi {
  margin: 0;
  padding: 0;
  width: 390px;
  max-width: 100%;

  > li.__menu-item {
    border-bottom: solid 1px #ECECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .dropdown-icon {
      display: block;
      width: 20px;
      line-height: 0;
      padding: 16px;
      box-sizing: content-box;
      height: 100%;
      position: relative;
      cursor: pointer;

      svg {
        width: 100%;
        opacity: .5;
      }
    }

    > a {
      display: block;
      padding: 16px;
      line-height: normal;
      color: $menu_link_color;
      text-decoration: none;

      .__menu-item-name {
       
      }
    }

    &.__back-item {

      > a {
        display: flex;
        align-items: center;

        .__menu-icon {
          width: 20px;
          line-height: normal;
          line-height: 0;
          margin-right: .2em;
          opacity: .5;
        }
      }
    }
  }
}