$menu_link_color: #19242D;

.menu-builder-mobi-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background: white;
  height: 100%;
  overflow: auto;
  width: 100%;
  background: rgba(1,1,1,.1);
  display: flex;
  justify-content: flex-end;
}

.menu-builder-mobi__inner {
  background: white;
}

ul.menu-builder-mobi {
  margin: 0;
  padding: 0;
  width: 390px;
  max-width: 100%;

  > li.__menu-item {
    border-bottom: solid 1px #ECECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .dropdown-icon {
      display: block;
      width: 20px;
      line-height: 0;
      padding: 16px;
      box-sizing: content-box;
      height: 100%;
      position: relative;
      cursor: pointer;

      svg {
        width: 100%;
        opacity: .5;
      }
    }

    > a {
      display: block;
      padding: 16px;
      line-height: normal;
      color: $menu_link_color;
      text-decoration: none;

      .__menu-item-name {
       
      }
    }

    &.__back-item {

      > a {
        display: flex;
        align-items: center;

        .__menu-icon {
          width: 20px;
          line-height: normal;
          line-height: 0;
          margin-right: .2em;
          opacity: .5;
        }
      }
    }
  }
}

.__mobi-menu-banner {
  padding: 16px;
  min-height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background: rgb(0,13,15);
    background: -moz-linear-gradient(9deg, rgba(0,13,15,1) 0%, rgba(0,13,15,0) 100%);
    background: -webkit-linear-gradient(9deg, rgba(0,13,15,1) 0%, rgba(0,13,15,0) 100%);
    background: linear-gradient(9deg, rgba(0,13,15,1) 0%, rgba(0,13,15,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000d0f",endColorstr="#000d0f",GradientType=1);
  }

  > * {
    margin: 0;
    line-height: normal;
    position: relative;
    z-index: 3;
  }

  h4 {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 13px;
  }
}