$menu-accent-color: $accent-color;
$menu-border-color: #DADDDE;

.menu-builder-mobi__inner {
  width: 390px;
  max-width: 100%;
}

.menu-builder-mobi-container {

}

.menu-builder-mobi__nav {

  .menu-link-style {
    padding: 16px 0;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    border-bottom: solid 1px $menu-border-color;
  }

  .menu-link-heading-style {
    font-weight: bold;
    color: $menu-accent-color !important;
    text-transform: uppercase;
    border-bottom: solid 2px $menu-accent-color !important;
  }

  .menu-image-item-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #333333;
    text-decoration: none;

    .__image-item {
      max-width: 100%;
      margin: 12px 0;
    }

    .__name-item {
      font-size: 12px;
    }
  }

  .__root-menu {}

  .__menu-ul {
    margin: 0;
    padding: 0;
    background: white;
  }

  li.menu-item {
    list-style: none;

    &:not(.__flat-child) {
      > .__menu-ul {
        display: none;
      }
    }

    > .__menu-ul {
      width: 100%;
    }

    &.__open {

      > .__menu-ul {
        display: block;
      }
    }
  }

  li.__level-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ECECEC;

    &.__item-type-__MEGASHOP_SUBITEM__ {
      background: #DFE6E7;
    }

    > a {
      display: block;
      padding: 12px 16px;
      color: #19242D;
      font-size: 13px;
      text-decoration: none;
      letter-spacing: 0;
      width: calc(100% - 40px);
      box-sizing: border-box;
      // font-weight: bold;
    }

    > .__toggle-menu {
      line-height: 0;
      height: 100%;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 16px;

      .__menu-icon {
        transition: .3s ease;
        -webkit-transition: .3s ease;
      }
    }

    &.__open {

      > .__toggle-menu {

        .__menu-icon {
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
        }
      }
    }
  }

  .banner-menu-item {
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: end;
    color: white;

    a, h4 {
      color: white;
    }
    
    .__image-layer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block !important;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(0,13,15);
        background: -moz-linear-gradient(0deg, rgba(0,13,15,1) 0%, rgba(0,13,15,0) 100%);
        background: -webkit-linear-gradient(0deg, rgba(0,13,15,1) 0%, rgba(0,13,15,0) 100%);
        background: linear-gradient(0deg, rgba(0,13,15,1) 0%, rgba(0,13,15,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000d0f",endColorstr="#000d0f",GradientType=1);
      }
    } 

    .__entry-layer {
      position: relative;
      z-index: 5;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 12px 16px;
      font-weight: bold;

      h4 {
        margin: 0;
        font-weight: bold;
        font-size: 1.4em;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        line-height: 0;
        gap: 4px;
      }
    }
  }

  

  li.__item-type-__MEGASHOP_SUBITEM__ {

    > ul.__menu-ul {

      > li {
        padding: 0 16px;

        a {
          @extend .menu-link-style;
        }
      }
    }
  }

  li.__item-type-__BLOCK_MENU__ {

    > a {
      @extend .menu-link-style;
      @extend .menu-link-heading-style;  
    }
  }

  li.__item-type-__BLOCK_MENU_IMAGE__,
  li.__item-type-__BLOCK_BRAND__ {
    padding: 0 16px;

    > a {
      @extend .menu-link-style; 
      @extend .menu-link-heading-style; 
    }

    > ul.__menu-ul  {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
      margin: 16px 0;
    }
  }

  li.__item-type-__BLOCK_BRAND__ {

    > a {
      display: none;
    }
  }

  li.__item-type-__BLOCK_MENU_IMAGE_ITEM__,
  li.__item-type-__BLOCK_BRAND_ITEM__ {

    > a {
      @extend .menu-image-item-style;
    }
  }

  li.__item-type-__MEGA__ {

    &.__open {

      > ul.__menu-ul {
        border-top: solid 1px #ECECEC;
      }
    }
  }

  // li.__item-type-__BLOCK_MENU_ITEM__ {
  //   > a {
  //     @extend .menu-link-style;
  //   }
  // }
}