.product-builder-app {

  .product-builder-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.product-builder {

  &__product-image {
    width: 47%;
    padding: 3em;
    background: #f6f6f6;

    .__product-images {
      position: sticky;
      top: 30px;
      margin-top: 10px;

      img {
        max-width: 100%;
        width: 100%;
      }

      .__image-slide-nav {
        padding: 0 15%;

        > .slick-initialized {
          display: flex;
        }

        .slick-slide {
          line-height: 0;

          > div {
            line-height: 0;
            font-size: 0;
          }
        }
      }

      .__thumb-nav-item {
        line-height: 0;
        padding: 5px;
      }

      .__thumb {
        background-size: cover;
        background-color: #333;
        background-position: center;
        padding-bottom: 100%;
        font-size: 0;
        color: transparent;
      } 
    }
  }

  &__product-meta {
    width: 47%;
    padding: 3em 0;
  }

  &__product-heading {
    border-bottom: solid 1px $border-color;

    .__product-title {
      margin-top: 0;
    }
  }

  &__product-footer {
    margin-top: 2em;
  }

  &__product-price {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: .5em;
  }

  &__buttons {

  }

  &__button-add-to-cart {
    width: 100%;
    border-radius: 6px;
    background: $accent-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    display: flex;
    gap: 10px;
    position: relative;
    transition: .3s ease;
    -webkit-transition: .3s ease;

    .__loading__spinner {
      line-height: 0;
    }

    &.__disable,
    &.__loading {
      pointer-events: none;
      opacity: .6;
      background: #B8B8B8;
    }

    &:after, &::before {
      display: none;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__product-card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 2em;
  }

  &__product-card {
    padding: .5em;
    border-radius: 3px;
    background: #FFF;
    border: solid 1px $border-color;
    text-align: center;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .__product-image {
      margin-bottom: 1em;
      
      img {
        max-width: 100%;
        border-radius: 3px;
      }
    }

    .__product-title {
      margin: 0;
    }

    .__product-price {
      color: black;
      font-weight: bold;
    }
  }
}

.__box-option {

  &__addon {

  }

  &__addon-item {

    .__addon-heading-tag {
      background: #EEEFF0;
      border-radius: 30px;
      display: inline-block;
      padding: .6em 1em;
      color: black;
      margin-top: 0;
    }
  }

  .__box-option__heading {
    display: flex;
    align-items: center;
    gap: 8px;

    h4 {
      font-weight: bold;
      padding: 2em 0;
      margin: 0;
      color: $box-heading-color;
      cursor: pointer;
    }

    .__value {
      margin-left: auto;
    }
  }

  .__box-option__options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding-bottom: 2em;

    .variant-option-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: .5em;
      border: solid 1px $border-color;
      border-radius: 3px;
      // background: #fafafa;
      cursor: pointer;
      min-height: 130px;

      img, svg {
        max-width: 100%;
        border-radius: 3px;
        margin-bottom: 1em;
      }

      h4 {
        margin: 0;
        padding: 0;
        font-size: 13px;
        text-align: center;
        width: 100%;
      }

      &.__selected {
        background: black;
        color: white;
        border-color: black;

        h4 { 
          color: white;
        }
      }
    }
  }
}

.__variant-options {
  border-bottom: solid 1px $border-color;
}

.__product-option-meta {

  .__box-option {
    border-bottom: solid 1px $border-color;
  }
}

.__box-number {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  align-items: center;
  justify-content: center;
  background-color: #E3F3F6;
  color: $accent-color;
  font-weight: bold;
  line-height: 0;

  svg {
    width: 40%;
  }
}

.__loading-effect {
  pointer-events: none !important;
  position: relative;

  > * {
    opacity: .3;
  }

  &:after {
    content: "updating...";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    opacity: 1;
    line-height: normal;
  }
}

.slick-arrow.__custom-arrow {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-width: 40px;
  cursor: pointer;
}

@media(max-width:1024px) {
  .product-builder-app {

    .product-builder-container {
      width: 560px;
      margin: 0 auto;
    }
  }

  .product-builder {

    &__product-image,
    &__product-meta {
      width: 100%;
    }
  }
}