@import './variables';

.funnel-app-container {
  border-radius: 8px;
  box-shadow: 0 5px 10px 1px rgba(1, 1, 1, .2);
  padding: 48px 2em;

  @media(max-width: 768px) {
    padding: 0;
    box-shadow: none;

    .question-frame {
      padding: 0 10px;
    }
  }
}

.loading-comp {
  display: flex;
  align-items: center;
  justify-items: center;
  
  svg {
    width: 46px;
  }
}

.question-container {
  // width: 930px;
  width: 100%;
  margin: 2em auto;
  max-width: 100%;
}

.question-frame {
  display: flex;
  // justify-items: center;
  align-items: center;
  flex-direction: column;

  .question-text {
    font-size: 24px;
    color: #004F59;
    font-weight: 600;
    margin: 1em 0 .5em;
    letter-spacing: 0;
  }

  .question-content {
    margin: 0 0 1.5em;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3em;

    .__action {
      display: flex;
      align-items: center;
      line-height: normal;
      cursor: pointer;
      gap: 1em;
      transition: .3s ease;
      -webkit-transition: .3s ease;

      &.__disable {
        pointer-events: none;
        opacity: .3;
      }
    }

    .__icon {
      display: inline-block;
      width: 30px;
      line-height: 0;
    }
  }
}

.select-box-component {
  margin: 0;
  padding: 0;

  li.__disable {
    opacity: .5 !important;
    pointer-events: none !important;
    text-decoration: line-through !important;
  }

  li.__o-item {
    list-style: none;
    margin-bottom: .6em;
  }

  &.__temp__card,
  &.__temp__block {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;

    li.__card-item {
      width: 240px;
      list-style: none;
    }

    li.__block-item {
      width: 210px;
      list-style: none;
    }
  }

  &.__temp__image {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    max-width: 100%;
    
    li {
      list-style: none; 
      cursor: pointer;
      position: relative;

      .__tag-selected {
        position: absolute;
        left: 10px;
        top: 10px;
        background: $accent-color;
        color: white;
        line-height: normal;
        padding: 3px 7px;
        font-size: 10px;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}

.question-field {
  margin: 2em 0;
}

.card-item-comp,
.block-item-comp {
  text-align: center;
  border-radius: $border-radius;
  border: solid 1px $border-color;
  overflow: hidden;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(1, 1, 1, 0.2);
  position: relative;
  height: 100%;
  transition: .3s ease;
  -webkit-transition: .3s ease;

  .__tag-selected {
    position: absolute;
    left: 10px;
    top: 10px;
    background: $accent-color;
    color: white;
    line-height: normal;
    padding: 3px 7px;
    font-size: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &:hover {
    transform: translateY(-1%);
    -webkit-transform: translateY(-1%);
    box-shadow: 0 3px 10px 0 rgba(1, 1, 1, 0.2);
  }

  // &.__selected {
  //   background: black;
  //   color: white;

  //   h4, p {
  //     color: white;
  //   }
  // }

  img {
    max-width: 100%;
  }

  h4, p {
    padding: 0 1em;
    line-height: 1.5em;
  }

  h4 {
    font-size: 1.2em;
    margin: .5em 0;
    color: black;
  }

  p {
    font-size: .9em;
  }
}

.block-item-comp {
  padding: 2em;

  h4 {
    font-size: 1em;
  }

  &.__selected {
    background: $accent-color;
    color: white;

    h4 {
      color: white;
    }
  }
}
 
.checkbox-ui-component {
  display: flex;
  gap: 10px;
  line-height: normal;
  cursor: pointer;

  .checkbox-ui__fake-handle {
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 100%;
    background: white;
    display: inline-block;
    position: relative;
    border: solid 1px $accent-color;
    line-height: 0;

    &:after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      left: 50%;
      top: 50%;
      border-radius: 100%;
      transform: translate(-50%, -50%) scale(0);
      -webkit-transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      z-index: 1;
      background: $accent-color;
      transition: .3s ease;
      -webkit-transition: .3s ease;
    }
  }

  &.__checked {

    .checkbox-ui__fake-handle {

      &:after {
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }
  }
}

.transition-nodes {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: .1s ease;
  -webkit-transition: .1s ease;

  .transition-node-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.redirect-node-comp {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 355px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;

  h2 {
    margin: 0 0 16px;
    color: #004F59;
    font-weight: bold;
  }

  p {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .r__spacing {
    display: block;
    height: 48px;
  }

  .r__start-again {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    margin: 16px 0;
    gap: 8px;
    color: #666666;
    font-weight: bold;
    letter-spacing: 0;
    font-weight: 14px;
    text-decoration: none;
  }

  .button-redirect-now {
    border: none;
    background: $accent-color;
    color: white;
    border-radius: 1px;
    padding: 12px 24px;
    cursor: pointer;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;

    &:hover {
      opacity: .7;
    }
  }
}

.q-field__textfield {

  .__textfield-handle {
    padding: 1em;
    width: 300px;
    max-width: 100%;
    border-radius: 3px;
    border: solid 1px #ddd;
    box-shadow: none;
    outline: none;

    &:focus {
      border-color: $accent-color;
    }
  }
}

ul.select-box-component  {

  $size: 
    2 "square" 472 472 2,
    2 "portrait" 472 630 2,
    2 "landscape" 472 314 2,
    3 "square" 309 309 2,
    3 "portrait" 309 463 2,
    3 "landscape" 309 206 2,
    4 "square" 228 228 2,
    4 "portrait" 228 342 2,
    4 "landscape" 228 152 2;

  @each $col, $size, $width, $height, $tabletCol in $size {
    &.__temp__#{ $col }-cols-#{ $size }-#{ $width }_#{ $height } {
      display: grid;
      grid-template-columns: repeat(#{ $col }, minmax(auto, #{ $width }px));
      // flex-wrap: wrap;
      gap: 16px;
      list-style: none;
      justify-content: center;

      @media(max-width: 768px) {
        grid-template-columns: repeat(#{ $tabletCol }, minmax(auto, #{ $width }px));
      }

      @media(max-width: 425px) {
        grid-template-columns: repeat(1, minmax(auto, 460px));
      }

      .tag-template--col {
        // width: #{ $width }px;
        height: #{ $height }px;
        max-width: 100%;
        border-radius: 4px;
        border: solid 1px #eeeeee;

        .__icon {
          display: none;
        }

        @media(max-width: 425px) {
          height: auto !important;
          background: #FAFAFA !important;
          display: flex;
          padding: 16px;
          border-color: #B3C1C3;
          border-width: 2px;
          line-height: normal;
          align-items: center;
          justify-content: space-between;
          margin: 0;

          .__label {
            display: block;
            position: initial;
            transform: none;
            -webkit-transform: none;
            color: #19242D;
            // text-align: center;
          }

          .__icon {
            display: block; 
          }
        }
      }
    }
  }

  .tag-template--col {
    cursor: pointer;
    position: relative;
    transition: .1s ease;
    -webkit-transition: .1s ease;

    &:hover {
      outline: 2px solid #006875;
      box-shadow: 0 0 0 6px #0068752e;

      @media(max-width: 425px) {
        box-shadow: none;
        outline: none;
        border-color: #006875;
        background: rgba(0, 104, 117, 0.1803921569) !important;
      }
    }

    .__label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      z-index: 9;
      display: none;
    }

    &.__no-image {

      .__label {
        display: block;
        letter-spacing: 0;
        text-align: center;
      }
    }

    @media(max-width: 425px) {

    }
  }
}

ul.select-box-component {

  &.__temp__list-1-column {
    display: grid;
    grid-template-columns: repeat(1, 460px);
    gap: 16px;

    .tag-template--list {
      background: #F2F2F2;
      border-radius: 3px;
      max-width: 100%;
      list-style: none;
      padding: 20px;
      line-height: normal;
      cursor: pointer;
      max-width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: .3s ease;
      -webkit-transition: .3s ease;

      .__icon {
        line-height: 0;
      }

      &:hover {
        background: darken(#F2F2F2, 5);
      }
    }
  }

  $list: 2, 3, 4;

  @each $l_item in $list {
    &.__temp__list-#{ $l_item }-columns {
      display: grid;
      grid-template-columns: repeat($l_item, 309px);
      gap: 16px;

      .tag-template--list {
        background: #F2F2F2;
        border-radius: 3px;
        max-width: 100%;
        list-style: none;
        padding: 20px;
        line-height: normal;
        cursor: pointer;

        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .3s ease;
        -webkit-transition: .3s ease;

        .__icon {
          line-height: 0;
        }

        &:hover {
          background: darken(#F2F2F2, 5);
        }
      }
    }
  } 
}

.select-box-component.__temp__no-image {
  display: grid;
  gap: 16px;

  @media(max-width: 768px) { 
    gap: 8px;
  }

  .tag-template--list {
    background: #FAFAFA;
    border-radius: 4px;
    max-width: 100%;
    list-style: none;
    padding: 20px;
    line-height: normal;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    border: solid 1px #eee;

    &:hover {
      border-color: #006875;
      background: #0068752e;
    }

    @media(max-width: 768px) {
      border-color: #B3C1C3;
      padding: 16px;
      border-width: 2px;
      color: #19242D;
    }

    .__icon {
      line-height: 0; 
    }

    &:hover {
      // background: darken(#F2F2F2, 5);
    }
  }

  &.__col-1 {
    grid-template-columns: repeat(1, minmax(auto, 460px));
  }

  &.__col-2 {
    grid-template-columns: repeat(2, minmax(auto, 460px));

    @media(max-width: 460px) {
      grid-template-columns: repeat(1, minmax(auto, 309px));
    }
  }

  &.__col-3 {
    grid-template-columns: repeat(3, minmax(auto, 309px));

    @media(max-width: 760px) {
      grid-template-columns: repeat(2, minmax(auto, 309px));
    }

    @media(max-width: 460px) {
      grid-template-columns: repeat(1, minmax(auto, 309px));
    }
  }

  
}

.q-heading {
  display: grid;
  grid-template-columns: minmax(auto, 130px) 1fr minmax(auto, 130px);  
  width: 100%;
  align-items: center;
  width: 960px;
  max-width: 100%;

  @media(max-width: 768px) {
    grid-template-columns: 1fr;  
    gap: 16px;
  }

  div:empty {
    display: block;
  }

  &__question-text {
    text-align: center;
    margin-top: 0 !important;
    // font-style: normal;
    // font-weight: 600;
    // color:#004F59;
  }

  &__back-action {
    text-decoration: none;
    color: #747474;
    font-size: 16px;
    display: flex;
    font-weight: 600;
    gap: 6px;
    align-items: center;
  }
}